## Global velocity template macros

#macro( outputHeader )
<!DOCTYPE html>
<html>
<head>
  <title>Placeholder</title>
  <link rel="stylesheet" type="text/css" href="css/famos-single.css">
</head>
<body>
#end

#macro( outputFooter )
</body>
</html>
#end